@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Monoton&display=swap&family=Rye');
* {
    background-color: lightgreen;
}

#disclaimer {
    font-size: 8pt;
}

button {
    background-color: lightgray;
}

input {
    background-color:  white;
}

h1, h2 {
    font-family: 'Rye';
}

h6 {
    font-family: 'Monoton';
}

span {
    font-family: 'Times New Roman';
}
#main {
    padding: .1% 0 .1% 0;
    columns: 200px 5;
    column-gap: 10px;
    column-rule: 8px groove rosybrown;
    font-variant: small-caps;
    border: 5px double rosybrown;
    font-family: 'Monoton';
}

label { 
    display: block;
}

.span {
    font-size: 16px;
    font-family: 'Monoton';
}